[Desktop Entry]
Name=Fluxbox
Comment=Very small and fast window manger
Comment[pl]=Mały i szybki zarządca okien
Exec=fluxbox
Terminal=False
TryExec=fluxbox

[Window Manager]
SessionManaged=true
# vi: encoding=utf-8
