[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=fluxbox
TryExec=fluxbox
Name=Fluxbox
Comment=A highly configurable and low resource window manager based on Blackbox
Comment[nl]=Een zeer configureerbare lichtgewicht window manager gebaseerd op Blackbox.
Comment[sr]=Врло подесив и незахтеван менаџер прозора заснован на Blackbox-у
Comment[sv]=En mycket anpassningsbar fönsterhanterare med litet resursbehov baserad på Blackbox
# vi: encoding=utf-8
